<div class="knob">
    <script src="./node_modules/jquery/dist/jquery.js?version=8_7"></script>
    <script src="Customizing/global/plugins/Services/Repository/RepositoryObject/SelfEvaluation/templates/js/jquery.knob.js?"></script>
    <input type='text' value='{VALUE}' id='{ID}' data-height="{HEIGHT}%">
    <script>
        $(function () {
            $('#{ID}').knob({
                'min': {MIN},
                'max': {MAX},
                readOnly: {READONLY},
                fgColor: 'rgb({FGCOLOR})',
                bgColor: 'rgb({BGCOLOR})',
                angleOffset: {ANGLEOFFSET},
                angleArc: {ANGLEARC},
                stopper: {STOPPER},
                thickness: {THICKNESS},
                lineCap: {LINECAP},
                displayInput: {DISPLAYINPUT},
                displayPrevious: {DISPLAYPREVIOUS}
            });
        });
    </script>
</div>
